/Pathfinding/A_star/cmake-build-debug/
 .idea/
        Data-Structures/
        Pathfinding/A_star/.idea/
        Pathfinding/A_star/.vscode/
        Pathfinding/A_star/a.out
        Pathfinding/A_star/bst.cpp
        Pathfinding/A_star/build/
        Pathfinding/A_star/googletest/
        Pathfinding/A_star/logs/
        Pathfinding/Dijkstra/Binary-Heap/.idea/
        Pathfinding/Dijkstra/Binary-Heap/cmake-build-debug-wsl/
        Pathfinding/Dijkstra/Binary-Heap/googletest
        Pathfinding/Dijkstra/dataset/
        Pathfinding/MiniMax/external/game_client
        Pathfinding/MiniMax/external/game_server
        Quick-Select/.idea/
        Quick-Select/build/
        Quick-Select/cmake-build-debug/
        Quick-Select/data/
        Quick-Select/file.txt
        Quick-Select/googletest/
        Sorting-Algorithms/.idea/
        Sorting-Algorithms/build/
        Sorting-Algorithms/cmake-build-debug-wsl/
        Sorting-Algorithms/data/
        Sorting-Algorithms/googletest
	.idea/
        Archive/
        Data-Compression/Huffman/.idea/
        Data-Compression/Huffman/.vscode/
        Data-Compression/Huffman/a
        Data-Compression/Huffman/a.out
        Data-Compression/Huffman/build/
        Data-Compression/Huffman/cmake-build-debug-wsl/
        Data-Compression/Huffman/googletest
        Data-Compression/Huffman/poc.c
        Data-Structures/
        Pathfinding/A_star/.idea/
        Pathfinding/A_star/.vscode/
        Pathfinding/A_star/a.out
        Pathfinding/A_star/bst.cpp
        Pathfinding/A_star/build/
        Pathfinding/A_star/googletest/
        Pathfinding/A_star/logs/
        Pathfinding/Dijkstra/Binary-Heap/.idea/
        Pathfinding/Dijkstra/Binary-Heap/Random4-C.ss.res
        Pathfinding/Dijkstra/Binary-Heap/cmake-build-debug-wsl/
        Pathfinding/Dijkstra/Binary-Heap/googletest
        Pathfinding/Dijkstra/Dial/.clang-tidy
        Pathfinding/Dijkstra/Dial/.idea/
        Pathfinding/Dijkstra/Dial/Random4-C.ss.res
        Pathfinding/Dijkstra/Dial/Square-C.0.0.0.p2p.res
        Pathfinding/Dijkstra/Dial/Square-C.13.0.9.p2p.res
        Pathfinding/Dijkstra/Dial/USA.ss.res
        Pathfinding/Dijkstra/Dial/buckets_size.png
        Pathfinding/Dijkstra/Dial/cmake-build-debug-wsl/
        Pathfinding/Dijkstra/Dial/current.txt
        Pathfinding/Dijkstra/Dial/googletest
        Pathfinding/Dijkstra/Dial/logs/
        Pathfinding/Dijkstra/Dial/long-c.png
        Pathfinding/Dijkstra/Dial/report-9815ae.html
        Pathfinding/Dijkstra/Dial/src/Dijkstra.plist
        Pathfinding/Dijkstra/Dial/thoughts.ipynb
        Pathfinding/Dijkstra/Dial_run
        Pathfinding/Dijkstra/Heap.zip
        Pathfinding/Dijkstra/Heap/
        Pathfinding/Dijkstra/_pairs
        Pathfinding/Dijkstra/_sources
        Pathfinding/Dijkstra/dataset/
        Pathfinding/Dijkstra/experiment_runner.py
        Pathfinding/Dijkstra/logs/
        Pathfinding/Dijkstra/out.zip
        Pathfinding/Dijkstra/out/
        Pathfinding/Dijkstra/pairs/
        Pathfinding/Dijkstra/run
        Pathfinding/Dijkstra/script.sh
        Pathfinding/Dijkstra/sct.py
        Pathfinding/Dijkstra/sources/
        Pathfinding/Dijkstra/wyniki.txt
        Pathfinding/MiniMax/external/game_client
        Pathfinding/MiniMax/external/game_server
        Quick-Select/.idea/
        Quick-Select/build/
        Quick-Select/cmake-build-debug/
        Quick-Select/data/
        Quick-Select/external/gen
        Quick-Select/external/select
        Quick-Select/file.txt
        Quick-Select/googletest/
        Quick-Select/wykresy3.ipynb
        Sorting-Algorithms/.idea/
        Sorting-Algorithms/build/
        Sorting-Algorithms/cmake-build-debug-wsl/
        Sorting-Algorithms/data/
        Sorting-Algorithms/googletest
        Sorting-Algorithms/plots/
        Sorting-Algorithms/report.ipynb
        Sorting-Algorithms/tst/StatisticTest.cpp
        lib/
        test/
        testable/